.Header
{
    width: 75%;
    max-height: 15%;
    padding-bottom: 50px;
	display: inline-block;
    border-radius: 10px 10px 0px 0px;
    background-color: #e4e4e4;
    box-shadow: 6px 6px 0px black;
    text-align: center;
    border-bottom: 1px solid black;

}

img
{
    width:5%;
}

