.Technology {
    width : 100%;
    display: inline-block;
    border-radius: 5px 5px 5px 5px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    text-align: left;
     


}

#expandButton
{
    background-image: linear-gradient(#cec1e7, #ddd3ee);
    width: 100%;
    height: 100%;
    padding: 3%;
}

