.Description
{
    display: flex;
    text-align: left;
}

#left
{   
    vertical-align: center;
    height: 100%;
    margin:3%;
    width : 10%;
}


#right
{
    flex :1;
}
#logo
{
    width:50%;
}